<footer class="main-footer footer-three bg-black text-white pt-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget menu-widget">
                    <h4 class="footer-title">Page Links</h4>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#" data-booking>Appointment</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-widget contact-widget">
                    <h4 class="footer-title">Contact</h4>
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info-content">
                                <h5>Location</h5>
                                <p>{address}</p>
                            </div>
                        </li>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            <div class="info-content">
                                <h5>Hotline</h5>
                                <p>Call : <a href="" data-phone>{phone}</a></p>
                            </div>
                        </li>
                        <li>
                            <i class="far fa-comment"></i>
                            <div class="info-content">
                                <h5>Email</h5>
                                <a href="mailto:support@gmail.com">{email}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-6">
                <div class="footer-widget newsletter-widget text-center">
                    <div class="text-center">
                        <img src="assets/images/logos/logo.png" width="181px" alt="">
                    </div>
                    <div class="p-40">
                        <p class="mb-0">
                            Will Make You Feel Like A Royalty Even After The Longest And Most Stressful Of Days. Our Mani-Pedi And Waxing Treatments Are Perfect For A Quick Pick-Me-Up Any Day Of The Week.
                        </p>
                    </div>
                    <div class="social-style-one">
                        <a href="#" data-facebook><i class="fab fa-facebook-f"></i></a>
                        <a href="#" data-instagram><i class="fab fa-instagram"></i></a>
                        <a href="#" data-google><i class="fab fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area pt-25 pb-15">
            <ul class="footer-menu py-5">
                <li><a href="https://www.lldtek.com/salon/home/contact">Contact</a></li>
                <li><a href="https://www.lldtek.com/salon/home/marketing/templates">Marketing</a></li>
                <li><a href="https://www.lldtek.com/salon/home/contact">Contact</a></li>
            </ul>
            <p>© 2022 <a href="https://www.lldtek.com/salon/index">LLDTEK</a>, All Rights Reserved</p>
        </div>
    </div>
</footer>