<header class="main-header">

    <div class="header-top-wrap bgui-primary text-white py-10">
        <div class="container">
            <div class="header-top">
                 <ul>
                     <li><i class="far fa-clock"></i> <span>Opening hours :</span> {time_1}</li>
                     <li><i class="flaticon-locations"></i> <span>Address :</span> {address}</li>
                 </ul>
            </div>
        </div>
    </div>
    
     <!--Header-Upper-->
     <div class="header-upper">
         <div class="container-fluid clearfix">

             <div class="header-inner d-flex align-items-center">
                 <div class="logo-outer">
                     <div class="logo"><a href="index.html"><img src="assets/images/logos/logo.png" alt="Logo" title="Logo"></a></div>
                 </div>

                 <div class="nav-outer clearfix">
                     <!-- Main Menu -->
                     <nav class="main-menu navbar-expand-lg">
                         <div class="navbar-header">
                             <!-- Toggle Button -->
                             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                 <span class="icon-bar"></span>
                                 <span class="icon-bar"></span>
                                 <span class="icon-bar"></span>
                             </button>
                             
                            <div class="mobile-logo p-15 m-auto">
                                <a href="index.html">           
                                     <img src="assets/images/logos/logo.png" alt="Logo" title="Logo">
                                </a>
                            </div>
                         </div>

                         <div class="navbar-collapse collapse clearfix">
                             <ul class="navigation clearfix" id="main-menu">
                                <li class="dropdown">
                                    <a href="index.html">
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-rounded mr-2">home</span>
                                            <span class="text-nowrap">Home</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="about.html">
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-rounded mr-2">auto_awesome</span>
                                            <span class="text-nowrap">About Us</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="gallery.html">
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-rounded mr-2">image</span>
                                            <span class="text-nowrap">Gallery</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="services.html">
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-rounded mr-2">face_retouching_natural</span>
                                            <span class="text-nowrap">Services</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="contact.html">
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-rounded mr-2">phone_in_talk</span>
                                            <span class="text-nowrap">Contact</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-booking>
                                        <div class="d-flex align-items-center">
                                            <span class="material-symbols-rounded mr-2">local_mall</span>
                                            <span class="text-nowrap">Appointment</span>
                                        </div>
                                    </a>
                                </li>
                                
                             </ul>
                         </div>

                     </nav>
                     <!-- Main Menu End-->
                 </div>
                 
             </div>
         </div>
     </div>
     <!--End Header Upper-->
 </header>

 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <style>
        .material-symbols-rounded {
          font-variation-settings:
          'FILL' 1,
          'wght' 500,
          'GRAD' 0,
          'opsz' 40
        }
        .material-symbols-rounded{
            margin-top:-2px;
        }
    </style>